.hide {
	display: none;
}

.query-bar {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px dashed;
	margin-bottom: 20px;
}

.hint-bar {
	border: 1px solid #494949;
	background-color: #b6b6b6;
	color: #ffffff;
	text-align: center;
	margin: 5px 0;
}

.query-result {
	margin: 5px 0;
}

.record {
	width: 100%;
}

.record caption {
	text-align: center;
	margin-bottom: 5px;
}

.record td {
	border: 1px solid ;
	text-align: center;
}

.record th {
	border: 1px solid ;
	text-align: center;
	font-weight: bold;
	background-color: #b6b6b6;
}

.record tr:hover {
	background-color: #cbd9eb;
}

.record col {
	width: 4em;
}

.reload-btn {
	background: url(../img/reload.png) no-repeat;
	width: 24px;
	height: 24px;
	border: none;
	vertical-align: top;
}

.date-input {
	width: 130px;
}

.dialog-window {
	top: 205px;
	left: 5px;
	right: 5px;
	box-shadow: 2px 2px 8px #aaa;
}
