{% extends "accountbook/base.html" %}

{% block title %}记录查询{% endblock %}

{% block heads %}
	<link rel="stylesheet" href="/static/accountbook/show-record/css/show-record.css"/>
	<script src="/static/accountbook/show-record/js/show-record.js"></script>
{% endblock %}

{% block content %}	
	<h2 class="bill-title">记录查询</h2>
	<section class="query-bar">
		<label for="query-date" class="item-title">日期</label>
		<input type="date" id="query-date" class="date-input"/>
		<input type="button" id="refresh-btn" class="reload-btn"/>
	</section>
	<section id="hint" class="hint-bar hide"></section>
	<section class="query-result">
		<table id="record-table" class="hide record">
			<caption id="table-caption"></caption>
			<colgroup>
				<col span="1"/>
			</colgroup>
			<thead>
				<tr>
					<th>序号</th>
					<th>金额</th>
					<th>类型</th>	
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</section>
{% endblock %}
