<!DOCTYPE HTML>
<html>
	<head>
		<title>增加记录</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0 user-scalable=no"/>
		<script type="text/javascript">
			var url = "/accountbook/add_record_do";
			function handleSaveBtnClick()
			{
				var submitBtn = document.getElementById("submit");
				submitBtn.value ="saving...";
				submitBtn.disabled=true;
				var req = new XMLHttpRequest();
				req.onreadystatechange = handleReqStateChanged;
				req.open("post",url)
				var data = "";
				var key = document.getElementsByName("csrfmiddlewaretoken")[0];
				data+="csrfmiddlewaretoken="+key.value;
                                data+="&vars="+collectVars();
				req.send(data);
				
				function handleReqStateChanged()
				{
					if(req.readyState == XMLHttpRequest.DONE)
					{
						showResult(req.responseText);
					}
				}
				
				function showResult(resultString)
				{
					switch(resultString)
					{
						case 'success':
							alert("data is saved");
							submitBtn.value ="save";
							submitBtn.disabled=false;
						break;	
					}	
				}
			}
		
		  	function collectVars()
			{
				var vars = {};
				vars["occurrence_date"] = document.getElementsByName("occurrence_date")[0].value;
				vars["amount"] = document.getElementsByName("amount")[0].value;
				var tags = [];
				tags.push(document.getElementsByTagName("select")[0].value);
				var checkboxes = document.getElementsByName("tag");
				for (var i = 0;i<checkboxes.length;i++)
				{
					var checkbox = checkboxes[i]
					if(checkbox.checked == true)
					{	
						tags.push(checkbox.value);
					}
				}		
				vars["tag"] = tags;
				return JSON.stringify(vars)
			}							
		</script>
	</head>
			
	<body>
		<div style="width:320px;height:480px;border:dashed"> 
			<form>
				{% csrf_token %}	
				日期:<input type="date" name="occurrence_date"/><br/>
				<select>	
					{% for tag in title_tags %}
					<option value="{{tag.id}}">{{tag.name}}</option>
					{% endfor %}
				</select>
				<input type="number" name="amount"/>元<br/>
				标签:
				{% for tag in normal_tags %}
				<input type="checkbox" name="tag" value="{{tag.id}}">{{tag.name}}</input>
				{% endfor %}
				<br/>
				<input type="button" id="submit" value="save" onclick="handleSaveBtnClick()"/>
			</form>
		</div>
	</body>
</html>
