<!DOCTYPE HTML>
<html>
	<head>
		<title>显示记录</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0 user-scalable=no"/>
		<script type="text/javascript">
			var queryUrl = "/accountbook/show_record_do"
			function handleQueryBtnClick()
			{
				var vars='';
				var queryDate = document.getElementById("date");
				var req = new XMLHttpRequest()
				req.onreadystatechange = handleReqStateChanged;
				vars = "date="+queryDate.value
				req.open("GET",queryUrl+"?"+vars);
				alert(vars)
				req.send()	
				function handleReqStateChanged()
				{
					if(req.readyState == XMLHttpRequest.DONE)
					{
						alert(req.responseText);
					}
				}
			}	
		</script>
	</head>
			
	<body>
		<div style="width:320px;height:480px;border:dashed;border-width:1px;">
			日期:<input type="text" id="date"/><input type="button" id="query_btn" value="查询" onclick="handleQueryBtnClick()"/><br/>
			<table border="1">
				<tr>
					<th>序号</th>
					<th>金额</th>
					<th>类型</th>	
				</tr>
				<tr>
					<td>1</td>
					<td>2.5</td>
					<td>2012-2-1</td>
				</tr>
			</table>		
		</div>
	</body>
</html>
