body,
html {
	background: #ededed;
}

body {
	padding: 10px 5px;
}

/* input textarea */
input,
textarea {
	outline: none;
	border: 1px solid #929292;
	border-radius: 3px;
	font-family: sans-serif;
}

.bill-paper {
	border: solid transparent 5px;
	border-image:url(../img/bill-border.png) 5 0 round;
	background-color: #fff;
	padding: 30px 20px 30px;
	min-height: 300px;
}

.bill-title {
	text-align: center;
	margin: 10px 0;
	font-weight: bold;
	font-size: 20px; 
	text-shadow: 0 0 4px #6d6d6d;
}

.item-title:after {
	content: ":";
}

.tags {
	margin-top: 10px;
	line-height: 25px;
}

.tags li{
	display: inline-block;
}

.tags label {
	color: #fff;
	font-size: 15px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 3px;
	margin-left: 4px;
}
